.create-recipe {
  margin-left: 5%;
  margin-right: 5%;
}

.save-button {
  float: right;
  margin-left: 10px;
  margin-top: 5%;
  width: 15%;
}

.add-ingredient {
  margin-top: 32px;
  float: right;
}
